*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.controller
{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 0;
    right: 0;
    background-color: transparent;
    opacity: 0.5;
    
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
